@charset 'utf-8';

body {
  font-size: 12px;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

#notice {
  font-weight: bold;
  color: #f00;
}

#text {
  width: 500px;
  height: 100px;
}

input#copyButton {
  font-size: 1em;
}
